.service-img{
    width: 150px;
    height: 150px;
}
.card{
    width: 100% !important ;
    z-index: 2 !important;
    border-radius: 10px !important;
    cursor: pointer;
    transition: 0.5s;
}
a:link{
    text-decoration: none;
}

.service-1{

    background: #191919;
    padding: 20px 30px;
    transition: 0.5s;
    padding: 40px 45px;
    border-radius: 10px;
    height: 250px;
    width: 300px !important;
    z-index: 2;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 10px 25px 10px rgb(0 0 0 / 10%);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-image: linear-gradient(#dc3545,#e83e8c);
}