.appointment-banner{
    background-image: url(../../images/banner2.jpeg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.appointment-feature{
    width:100%;
    height:60vh;
    background-color:#20bdd1;
    opacity: 0.5;
    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color:whitesmoke !important;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    height:80%;
}