.banner{
    background-image: url(../../images/doctor.jpg);
    background-position:center;
    background-repeat: no-repeat;
    height:100vh;
    background-repeat: no-repeat;
    width: 100%;
}
.left-content h3{
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color:maroon !important;  
    font-size: 18px;
    display: inline-block;
    margin-top: 140px;
 }
.left-content h4{
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:midnightblue; 
    font-size: 28px;
    text-shadow: 3px 3px #fee8bc;
    
}
.left-content h3{
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3d2514; 
    font-size: 43px;
    text-shadow: 2px 2px #fee8bc;
}
@media only screen and (max-width: 600px){
    .left-content h1{
        font-size: 65px !important;
    }
    .banner{
        height: 90vh;
    }
   
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    .banner{
        height: 60vh;
    }
  
    
}
