.doctor{
    margin-top: 20px;
    margin-bottom: 60px;
}
.doctor-item {
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 20px 0 #ddd;
    border-radius: 10px;
}

.doctor-item .doctor-bottom h3{
    display: block;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    color: #232323;
}
